/* Version 1.1 -|- 8 May 2014 */

@charset "utf-8";

body {
	margin: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color:#fff;
	font-family:'century_gothicregular';
	font-size: 80%;
	font-weight: normal;
	background: url("../images/header1.jpg") no-repeat scroll 0 0 / 100% auto rgba(0, 0, 0, 0);
	background-color:#f5f5f5;
}

.outer {
    
}

@font-face {
    font-family: 'century_gothicregular';
    src: url('century_gothic-webfont.eot');
    src: url('century_gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('century_gothic-webfont.woff') format('woff'),
         url('century_gothic-webfont.ttf') format('truetype'),
         url('century_gothic-webfont.svg#century_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'century_gothicbold';
    src: url('century_gothic_bold-webfont.eot');
    src: url('century_gothic_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('century_gothic_bold-webfont.woff') format('woff'),
         url('century_gothic_bold-webfont.ttf') format('truetype'),
         url('century_gothic_bold-webfont.svg#century_gothicbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'BrushScriptStd';
	src: url('./BrushScriptStd.eot');
	src: local('BrushScriptStd'), url('./BrushScriptStd.woff') format('woff'), url('./BrushScriptStd.ttf') format('truetype');
}

.fontsforweb_fontid_11739 {
	font-family: 'BrushScriptStd' !important;
}
	
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display:block;
}

ol,ul,button{
	list-style:none;
	margin:0px;
	padding:0px;
	border: none;
}

a,img a,img,a img {
	border:0;
	outline:0;
	text-decoration:none;
}

form {
	border:0;
	margin:0;
	padding:0;
	outline:0;
}

label {
	text-transform: capitalize;
}

.clear {
  display: block;
  float: none;
  clear: both;
  overflow: hidden;
  visibility: hidden;
  font-size: 1px;
  line-height: 1px;
  width: 100%;
  height: 1px;
}

.caps {
	text-transform: uppercase;
}

.wrapper {
	margin: 0 auto;
	/*min-height: 640px;*/
	padding: 0 0px;
	max-width: 960px;
}

header {
    float: left;
    padding: 0;
	margin-top: 10px;
    width: 100%;
}
.headerBack {
    float: left;
    padding: 25px;
    width: 96%;
}
.logo {
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    display: block;
    float: left;
    height: 36px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    width: 198px;
}
.loginBtn {
	background: #196cc4;
	background: -moz-linear-gradient(top, #196cc4 0%, #36caed 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#196cc4), color-stop(100%,#36caed));
	background: -webkit-linear-gradient(top, #196cc4 0%,#36caed 100%);
	background: -o-linear-gradient(top, #196cc4 0%,#36caed 100%);
	background: -ms-linear-gradient(top, #196cc4 0%,#36caed 100%);
	background: linear-gradient(to bottom, #196cc4 0%,#36caed 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#196cc4', endColorstr='#36caed',GradientType=0 );
	padding:5px 15px;
	font-family: 'century_gothicbold';
    font-size: 13px;
	color:#fff;
	float:right;
	cursor:pointer;
	border-radius:3px;
}
.loginBtn:hover {
	background: #36c7ec;	
}
.content {
	float: left;
    width: 100%;
}
.mobile {
	background:url(../images/mobile.png);
	width:253px;
	height:486px;
	float:left;
	margin-top: 50px;
}
.mainTxtBox {
	background:url(../images/txtBox.png);
	width: 560px;
	height:238px;
	float:left;
	margin-top: 110px;
	margin-left: 50px;
	color:#fff;
	padding: 10px 16px;
}
.mainTxtBox h2 {
	font-family: 'century_gothicbold';
    font-size: 32px;
	float:left;
	margin-bottom: 0;
    margin-top: 0;
}
.signupBtn {
	background: #f76b05;
	background: -moz-linear-gradient(top, #f76b05 0%, #c77f33 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f76b05), color-stop(100%,#c77f33));
	background: -webkit-linear-gradient(top, #f76b05 0%,#c77f33 100%);
	background: -o-linear-gradient(top, #f76b05 0%,#c77f33 100%);
	background: -ms-linear-gradient(top, #f76b05 0%,#c77f33 100%);
	background: linear-gradient(to bottom, #f76b05 0%,#c77f33 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f76b05', endColorstr='#c77f33',GradientType=0 );
	padding:3px 15px;
	font-family: 'century_gothicbold';
    font-size: 12px;
	color:#fff;
	float:right;
	cursor:pointer;
	border-radius:3px;
	margin-right: 5px;
    margin-top: 10px;
}
.signupBtn:hover {
	background: #c95500;	
}
.mainTxtBox p {
	font-family: 'century_gothicregular';
    font-size: 14px;
	float:left;
}
.dwnldBtns {
	width: 560px;
	float:left;
	margin-top: 10px;
	margin-left: 50px;
	color:#fff;
	padding: 10px 16px;
}
.google {
	background:url(../images/googlePlayBtn.png);
	width:174px;
	height:52px;
	float:left;
	margin-left:70px;
	cursor:pointer;
}
.apple {
	background:url(../images/appStoreBtn.png);
	width:181px;
	height:52px;
	float:left;
	margin-left: 50px;
	cursor:pointer;
}
.google:hover {  
	background:url(../images/googlePlayBtn1.png);
}
.apple:hover {
	background:url(../images/appStoreBtn1.png);
}
.whatIs {
	font-family: 'century_gothicregular';
    font-size: 30px;
	float:left;
	margin-top:30px;
	margin-right:10px;
	margin-bottom:0;
}
.logo2 {margin-top:36px; width:80%;}
video {
	margin-top:20px;
	float:left;
	margin-right:50px;
}
article {
	width:410px;
	float:left;
	padding:10px;
}
article h3 {
	font-family: 'century_gothicbold';
    font-size: 20px;
	color:#5f5f5f;
	margin-top:0;
}
.schedule::before {
    content: url("../images/calendar.png");
    float: left;
    height: 150px;
    margin-right: 25px;
    width: 37px;
}
.edit::before {
    content: url("../images/pencil.png");
    float: left;
    height: 150px;
    margin-right: 25px;
    width: 37px;
}
.note::before {
    content: url("../images/note.png");
    float: left;
    height: 150px;
    margin-right: 25px;
    width: 37px;
}
.alarm {
	margin-right:90px;
}
.alarm::before {
    content: url("../images/alarm.png");
    float: left;
    height: 150px;
    margin-right: 25px;
    width: 37px;
}
footer {
    background-color: #313131;
    float: left;
    padding: 10px 0;
	text-align:center;
    width: 100%;
}
footer p {
	font-family: 'century_gothicbold';
    font-size: 15px;
	color:#fff;
	margin: 5px;
	text-shadow:2px 2px 1px #000;
}
footer p span {
	color:#00abe1;
	cursor:pointer;
}

.toggle1 {
    background: none repeat scroll 0 0 #fff;
    /*height: 150px;*/
    position: absolute;
    right: 153px;
    top: 80px;
    width: 214px;
	border-radius:10px;
	padding:10px;
}
input:focus {box-shadow:0 0 2px #00aeef;}
.toggle1 input[type="text"], .toggle1 input[type="password"] {
	float:none;
	width:96%;
	text-align:left;
	margin-bottom:10px;
}
.toggle1 input[type="checkbox"] {
	margin-right:8px;
}
.width100P {width:100%; float: left;}
.forgotPassword {
    color: #0173bb;
    float: right;
    font-size: 12px;
    margin-right: 7px;
}
.forgotPassword:hover {text-decoration:underline;}
.formLoginBtn {
	background:#00aeef;
	color:#fff;
	font-family: 'century_gothicbold';
    font-size: 13px;
	width:100%;
	padding:4px;
	border-radius:13px;
	margin-top:10px;
	cursor:pointer;
}
.formLoginBtn:hover {background:#007caa;}
/*.toggle2 {
    background: none repeat scroll 0 0 #fff;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    right: 236px;
    top: 269px;
    width: 214px;
}*/
.toggle2 {
    background: none repeat scroll 0 0 #fff;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    right: 236px;
    top: 269px;
    width: 400px;
}
/*.toggle2 input[type="text"], .toggle2 input[type="password"] {
	float:none;
	width:96%;
	text-align:left;
	margin-bottom:10px;
}*/
.toggle2 input[type="text"], .toggle2 input[type="password"] {
    float: left;
    margin-bottom: 10px;
    margin-left: 10px;
    text-align: left;
    width: 44%;
}
/*.toggle2 input[type="radio"] {
	float:left;
	margin-bottom: 10px;
	margin-right:5px;
}*/
.toggle2 input[type="radio"] {
    float: left;
    margin: 10px 0 10px 10px;
}
/*.toggle2 input[type="radio"]+label {
	color:#000;
	float:left;
	margin-right: 34px;
	text-align:left;
}*/
.toggle2 input[type="radio"] + label {
    color: #000;
    float: left;
    margin-left: 5px;
    margin-right: 24px;
    margin-top: 5px;
    text-align: left;
}
.formSignUpBtn {
	background:#f74f47;
	color:#fff;
	font-family: 'century_gothicbold';
    font-size: 13px;
	width:100%;
	padding:4px;
	border-radius:13px;
	margin-top:10px;
	cursor:pointer;
}
.formSignUpBtn:hover {background:#af3630;}





label {
	display: block;
	text-align: center;
	padding: 3px;
	margin: 0;
}
input[type='text'] {
	border: 1px solid #e2e2e2;
	font-family: century_gothicregular;
	border-radius: 5px;
	text-align: center;
	padding: 7px 3px;
	margin: 0;
}
input[type='password'] {
	border: 1px solid #e2e2e2;
	font-family: century_gothicregular;
	border-radius: 5px;
	float:left;
	text-align: left;
	padding: 7px 3px;
	margin: 0;
}

form div {
	text-align: center;
	padding: 3px;
	margin: 0;
}
@media (max-width: 639px) {

}

@media (min-width: 640px) and (max-width: 807px) {


}

@media (min-width: 808px) and (max-width: 999px) {


}

@media (min-width: 1000px) {

}

